.btn {
  @include rem((
      padding: $btn-padding-y $btn-padding-x $btn-padding-y $btn-padding-x,
      font-size: $font-size-base,
      border: 1px solid transparent
    ));
  cursor: pointer;
  display: inline-block;
  font-weight: $btn-font-weight;
  font-family: $font-family-base;
  line-height: 1;
  text-align: center;
	text-transform: uppercase;
  user-select: none;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }
}


.btn--transparent {
	background-color: transparent;
  border: 1px solid rgba($white, .75);

  &:hover {
    box-shadow: 0 1px 2px rgba($black, .2);
  }
}

.btn--md {

  @include min-screen(576px) {
    @include rem((
      min-width: 90px
    ));
  }

  @include min-screen(374px) {
    @include rem((font-size:$font-size-base - 4));
  }

  @include rem((
    font-size:$font-size-base - 6,
    padding: ($btn-padding-y * 1.5) ($btn-padding-x * 1.5) ($btn-padding-y * 1.4) ($btn-padding-x * 1.5),
    min-width: 77px
  ));
}

.btn--has-chevron {
  padding-right: 24px;

  &::after {
    content: '';
    border-right: 1px solid rgba($white, .75);
    border-bottom: 1px solid rgba($white, .75);
    width: 9px;
    height: 9px;
    display: block;
    position: absolute;
    right: 3%;
    top: 48.5%;
    @include transform(translate(-70%, -50%) rotate(-45deg));
  }
}
