a, #sticky--cta {
  -o-transition: 0.5s all ease-out;
  -ms-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

#sticky--cta {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  text-align: center;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;

  @include rem(( padding: 15px 20px ));

  &.active {
    opacity: 1;
    visibility: visible;
    @include rem(( height: 78px ));
  }

  a {
    background: $cta-bg;
    color: $text-color;
    border-radius: 3px;
    width: 100%;
    @include rem(( 
      padding: 13px 28px,
      font-size: 20px ));

    &:hover {
      background: darken($cta-bg, 10%);
    }

    @include min-screen(768px){
      width: 230px;
    }
  }
}