// :root {
//   --white: $white;
//   --gray: $grey;
//   --dark: $black;
//   --primary: $primary-color;
//   --secondary: $secondary-color;
//   --light: $off-white;
//   --breakpoint-xs: 0;
//   --breakpoint-sm: 576px;
//   --breakpoint-md: 768px;
//   --breakpoint-lg: 992px;
//   --breakpoint-xl: 1200px;
//   --font-family-base: 'Roboto Regular', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
//   --font-family-headings-bold: 'Breuer Text Bold', -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif;
// }



html {
  @include box-sizing(border-box);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.15;
  @include font-smoothing(on);
  @include rem-baseline;
  @include rem(text-shadow, 1px 1px 1px rgba($black, .004));
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Make viewport responsive
//
// @viewport is needed because IE 10+ doesn't honor <meta name="viewport"> in
// some cases. See http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/.
// Eventually @viewport will replace <meta name="viewport">.
//
// However, `device-width` is broken on IE 10 on Windows (Phone) 8,
// (see http://timkadlec.com/2013/01/windows-phone-8-and-device-width/)
// and the fix for that involves a snippet of JavaScript to sniff the user agent
// and apply some conditional CSS.

@at-root {
  @-ms-viewport { width: device-width; }
}

// Webfonts
// import before the <body>
@include font-face('Breuer Text Light', 'breuertext--light', breuer, normal, normal);
@include font-face('Breuer Text Regular', 'breuertext--regular', breuer, normal, normal);
@include font-face('Breuer Text Medium', 'breuertext--medium', breuer, normal, normal);
@include font-face('Breuer Text Bold', 'breuertext--bold', breuer, normal, normal);
@include font-face('Breuer Headline Regular', 'breuerheadline--regular', breuer, normal, normal);


body {
  @include rem(font-size, $font-size-base - 4);
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  line-height: $line-height-base;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

// Links

a {
  @include rem(text-shadow, 1px 1px 1px rgba($black, .004));
  color: $link-color;
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: none;
  }
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

svg:not(:root) {
  overflow: hidden; // Hide the overflow in IE
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

template {
  display: none; // Add the correct display in IE
}
