h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1, .h1 { @include rem(font-size, $font-size-h1); }
h2, .h2 { @include rem(font-size, $font-size-h2); }
h3, .h3 { @include rem(font-size, $font-size-h3); }
h4, .h4 { @include rem(font-size, $font-size-h4); }
h5, .h5 { @include rem(font-size, $font-size-h5); }
h6, .h6 { @include rem(font-size, $font-size-h6); }
