.l--header {
  @include rem(( height: 55px ));

  @include min-screen(576px) {
    @include rem(( height: 74px ));
  }

  align-items: center;
  background-color: $topbar-bg;
  box-shadow: 0px 0px 7.65px 1.35px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 10;

  .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.coral--logo {
    flex-grow: 1;
    order: 1;
    text-align: left;

  // Set size svg element
  // best to use object to display SVG for
  // full manipulation (css, js, animation, etc)
  object {
    @include rem((width: 100px, min-height: 40px));
    margin: 0;
    object-fit: fill;

    @include min-screen(576px){
      @include rem((width: 150px));
    }
  }

  // Making the entire
  // object clickable
  .logo--svg {
    display: inline-block;
    position: relative;

    &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.btn--login {
  order: 3;
}
