.l-hero {
  position: relative;

  &.banner {
    background-image: url('../img/content/banners/mobile_bg.svg');
    background-size: cover;
    @include rem(( height: 450px ));
    width: 100%;
    position: relative;

    @include min-screen(768px){
      background-image: url('../img/content/banners/desktop_bg@2x.svg');
      @include rem(( height: 550px ));
    }
  }

  .image--hero {
    position: absolute;
    bottom: -15px;
    right: 0;
    height: 250px;
    z-index: 2;

    @include min-screen(768px){
      height: 500px;
    }
  }

  .banner-text {
    @include rem(( 
      padding: 18px 0,
      height: 450px ));
    position: relative;
    z-index: 3;

    @include min-screen(768px){
      @include rem(( height: 550px ));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .boxed-text {
    display: inline-block;
    background: $text-color;
    color: $hero-bg;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 1px;
    @include rem(( 
      padding: 4px 5px,
      margin-bottom: 10px,
      font-size: 14px,
      line-height: 14px ));

    @include min-screen(768px){
      margin-bottom: 0;
      @include rem(( 
        font-size: 22px,
        line-height: 22px ));
    }
  }

  h1 {
    line-height: 1;
    @include rem(( font-size: 56px ));

    @include min-screen(768px){
      @include rem(( font-size: 100px ));
    }
    
    /* minimize br spacing */
    br {
      display: block;
      content: "";
      margin-top: -10px; 
    }
  }

  h3 {
    @include min-screen(768px){
      @include rem(( 
        font-size: 40px,
        margin-bottom: 15px ));
    }
  }

  .hero-cta {
    background: $cta-bg;
    color: $text-color;
    border-radius: 3px;
    position: absolute;
    @include rem(( 
      padding: 13px 28px,
      font-size: 20px,
      bottom: 20px ));

    &:hover {
      background: darken($cta-bg, 10%); 
    }

    @include min-screen(768px){
      position: relative;
      bottom: initial;
    }
  }
}