.l-steps {
  @include rem(( padding: 10px 0 ));

  .row-container {
    display: flex;
    flex-direction: column;

    @include min-screen(768px){
      flex-direction: row;
    }
  }

  .row {
    display: flex;
    align-items: center;
    @include rem(( margin: 10px 0 ));

    @include min-screen(768px){
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .steps--circle {
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    color: $text-color;
    text-align: center;
    display: inline-block;
    @include rem((
      width: 66px,
      height: 66px,
      padding: 13px,
      font-size: 25px ));
  }

  .steps--description {
    display: inline-block;
    font-weight: normal;
    @include rem((
      margin-left: 20px,
      font-size: 18px ));

    .steps--title {
      font-weight: 700;
    }
  }
}