.l-terms {
  @include rem(( padding: 40px 0 ));
  background: #d8d8d8;
  color: #40494d;
  // font-family: 'Roboto', sans-serif;

  h5, h6, p, li {
    font-family: inherit;
    @include rem(( margin-bottom: 10px ));
  }

  p {

    a {
      color: #40494d;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .three-column-text {
    list-style-type: decimal;
    box-sizing: border-box;

    li {
      @include rem(( margin-left: 15px ));
    }
  }

  .column-container {
    @include min-screen(768px){
      column-count: 3;
    }
  }
}
